.calendar-header {
  height: 5%;
  margin-top: 1% !important;
}

.toggle {
  margin-bottom: 1.5%;
}

.grid-date,
.grid-day {
  border-style: solid;
  border-width: 1px;
  padding: 0 !important;
}

.grid-date {
  height: 7em;
  overflow: auto;
}

.grid-date-inner {
  padding: 1%;
}

.grid-day-row {
  margin-top: 1%;
  padding: 0 !important;
}

.grid-dates-row {
  margin: 0;
  padding: 0 !important;
}

.form-label {
  display: flex;
  margin: 0 0 1% 0;
  justify-content: center;
}

.popup-trigger {
  text-align: center;
  width: 70%;
  padding: 1%;
  margin: 1% auto 0 auto;
  transition: 0.7s;
}

.popup-trigger:hover {
  cursor: pointer;
  color: green;
  opacity: 0.7;
  transition: 0.7s;
}

.edit-form {
  display: flex;
  justify-content: center;
}

.event-view-columns {
  text-align: center;
}

.form-btn {
  display: flex !important;
  justify-content: center;
  margin: 0 auto 0 auto !important;
}
